<ul>
  <li [class.active]="activeCategory === ''">
    <a routerLink="/products">Visi produkti</a>
  </li>
  <li [class.active]="activeCategory === 'velcro'">
    <img src="/assets/category_velcro.svg" alt="Spēles ar lipekļiem" class="category-logo">
    <a routerLink="/products/velcro">Spēles ar lipekļiem</a>
  </li>
  <li [class.active]="activeCategory === 'draw'">
    <img src="/assets/category_draw.svg" alt="Raksti un Dzēs" class="category-logo">
    <a routerLink="/products/draw">Raksti un Dzēs</a>
  </li>
  <li [class.active]="activeCategory === 'cards'">
    <img src="/assets/category_cards.svg" alt="Attīstošās kartītes" class="category-logo">
    <a routerLink="/products/cards">Attīstošās kartītes</a>
  </li>
</ul>
