/* src/app/components/navbar/navbar.component.scss */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: transparent;
}

.logo {
  a {
    display: flex;
    align-items: center; /* Align items vertically */
  }

  img {
    width: 150px; /* Adjust the width as needed */
    height: 100px; /* Adjust the height as needed */
    border-radius: 50%; /* Make the image circular */
    overflow: hidden; /* Ensure the image stays within the circular boundary */
  }
}

/* src/app/components/navbar/navbar.component.scss */

.cart {
  position: relative; /* Ensure the position of the container is relative */
  width: 100px; /* Set the width */
  height: 100px; /* Set the height */
}

.cart img {
  width: 100%; /* Ensure the cart image fills the container */
  height: 100%; /* Ensure the cart image fills the container */
  object-fit: contain; /* Maintain aspect ratio */
}

.cart .count {
  position: absolute;
  top: 49px;
  right: 35px;
  width: 14px;
  height: 14px;
  background-color: red;
  border-radius: 50%;
  color: white;
  font-size: 11px;
  display: flex;
  align-items: center;
  justify-content: center;
}
