.product-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Four products per row */
  gap: 20px; /* Adjusted gap */
  padding: 20px;
}

.product-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between; /* Align items vertically */
  text-align: center;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px; /* Adjusted padding */
  width: 100%;
  transition: transform 0.3s ease; /* Smooth transition on hover */
}

.product-item:hover {
  transform: translateY(-5px);
}

.product-item img {
  width: 100%;
  max-height: 280px; /* Adjusted maximum height */
  object-fit: cover;
  border-radius: 8px;
}

.product-info {
  width: 100%;
}

.product-info .product-name {
  margin: 10px 0; /* Adjusted margin */
  font-size: 16px;
  line-height: 1.2;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.price-vat {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px; /* Adjusted margin */
}

.product-info .price {
  font-size: 1.2rem;
  font-weight: 500;
}

.product-info .vat-info {
  font-size: 14px;
  color: #637381;
}

.product-item button {
  width: 100%;
  padding: 12px 0;
  background-color: #eea796;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-family: Inter, sans-serif;
  font-size: 14px;
  font-weight: 500;
}

.product-item button:hover {
  background-color: #d87056;
}

.delivery-time {
  margin-top: 10px; /* Adjusted margin */
  font-size: 14px;
  color: #637381;
  text-align: right;
}

@media (max-width: 1200px) {
  .product-list {
    grid-template-columns: repeat(3, 1fr); /* Three products per row */
  }
}

@media (max-width: 992px) {
  .product-list {
    grid-template-columns: repeat(2, 1fr); /* Two products per row */
  }
}

@media (max-width: 576px) {
  .product-list {
    grid-template-columns: repeat(1, 1fr); /* One product per row */
  }
}
