/* src/styles.css */

body {
    font-size: 1rem; /* Set your desired base font size here */
    font-family: Inter, sans-serif;

  }
  
  p {
    font-size: 1.6rem; /* Set your desired font size for paragraphs here */
    font-family: Inter, sans-serif;
  }
  a{
    font-size: 2rem;
    font-family: Inter, sans-serif;
  }
  